@model SPAMVC.Models.WeatherViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- temp@model WeatherMVC.WeatherViewModel
late from http://getbootstrap.com/getting-started -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- CSS Includes -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <style type="text/css">

        .field-validation-error {
            color: #ff0000;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Weather App</h1>
            <div class="panel-heading text-center">
                <h4>Application shows current weather and forecast for 5 days</h4>
            </div>
            <div class="panel-body">
                @* Форма для ввода названия города *@
                @using (Html.BeginForm("WeatherSummary", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="editor-label">
                        @Html.LabelFor(model => model.weatherForecast.city.name, new { @class = "control-label" })
                        <br /><br />
                        <div class="editor-field">
                            @Html.EditorFor(model => model.weatherForecast.city.name)
                            @Html.ValidationMessageFor(model => model.weatherForecast.city.name)
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-primary btn-sm" type="submit">Search</button>
                }
            </div>
            @if (Model.weatherForecast == null)
            {
                <div class="text-center">
                    <h4>There are no city with that name</h4>
                </div>
            }
            @if (Model.weatherForecast != null)
            {
                <div class="panel-heading text-center">
                    <h4>Information about city</h4>
                </div>
                @*Вывод общей информации по городу*@
                <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <tr><td>City:</td><td> @Model.weatherForecast.city.name </td></tr>
                        <tr><td>Country:</td><td>@Model.weatherForecast.city.country</td></tr>
                        <tr><td>Latitude:</td><td>@Model.weatherForecast.city.coord.lon</td></tr>
                        <tr><td>Longtitudes:</td><td>@Model.weatherForecast.city.coord.lat</td></tr>
                    </table>
                </div>
                @*Вывод текущей погоды*@
                <div class="panel-heading text-center">
                    <h4>Weather Current</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr><th>Main</th><th>Description</th><th>Temperature</th><th>Max Temp</th><th>Min Temp</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.weatherCurrent.weather[0].main</td>
                                <td>@Model.weatherCurrent.weather[0].description</td>
                                <td>@Model.weatherCurrent.main.temp</td>
                                <td>@Model.weatherCurrent.main.temp_max</td>
                                <td>@Model.weatherCurrent.main.temp_min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*Вывод прогноза погоды*@
                <div class="panel-heading text-center">
                    <h4>Weather Forecast</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                            <th>Day/Time</th>
                            <th>Main</th>
                            <th>Description</th>
                            <th>Temperature</th>
                            <th>Max Temp</th>
                            <th>Min Temp</th></tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.weatherForecast.list.Count; i++)
                            {
                                <tr>
                                    <td>@Model.weatherForecast.list[i].dt_txt</td>
                                    <td>@Model.weatherForecast.list[i].weather[0].main</td>
                                    <td>@Model.weatherForecast.list[i].weather[0].description </td>
                                    <td>@Model.weatherForecast.list[i].main.temp</td>
                                    <td>@Model.weatherForecast.list[i].main.temp_max</td>
                                    <td>@Model.weatherForecast.list[i].main.temp_min</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</body>
</html>
